<?xml version="1.0" encoding="UTF-8"?>
<properties>
  <property name="javax.persistence.lock.timeout" value="600000"/>
  <property name="javax.persistence.schema-generation.database.action" value="create"/>
  <property name="javax.persistence.jdbc.url" value="jdbc:h2:mem:test;DB_CLOSE_DELAY=-1;LOCK_TIMEOUT=600000"/>
</properties>